<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="http://fonts.cdnfonts.com/css/forum" rel="stylesheet">
    <title>Smit-E-Shop</title>
    <link rel="stylesheet" href="/css/style.css">
    <style>
        .font{
            font-family: 'Forum', sans-serif;                                         
        }
    </style>
    <script>
        var myCarousel = document.querySelector('#myCarousel')
var carousel = new bootstrap.Carousel(myCarousel, {
  interval: 2000,
  wrap: false
})
    </script>

</head>
<body>
    <nav class="navbar">
        <div class="navbar-container container">
          <input type="checkbox" name="" id="" />
          <div class="hamburger-lines">
            <span class="line line1"></span>
            <span class="line line2"></span>
            <span class="line line3"></span>
          </div>
          <ul class="menu-items">
            <li><a href="/">Home</a></li>
            <li><a href="showShop">Shops</a></li>
            <li><a href="about">About</a></li>
            <button><a href="#">Contact</a></button>
          </ul>
          <h1 class="logo">SMIT-E-SHOP</h1>
        </div>
    </nav>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 mt-5">
                <h1 class="text-center mt-5">About Us</h1>
                <p>With the advancement in technology and science, people can now do various things at the comfort of their home. The approach of the Smit-E-Shop is to advertise the products to the public by means of e-shopping and help the blacksmiths business to grow and increase sale. This website include users having a hybrid profile, where they can add their shop and browse items. Choose whether they want to rent/order/rate from shops.</p>
            </div>
            <div class="col-md-6">
                <img src="images/aboutshop.png" alt="" style="width: 100%;height: 100%;">
            </div>
        </div>
    </div>

    <div id="footer" class=" bg-dark text-light p-3">
        <div class="container">
            <div class="row">
                <div class="col-md-6" style="font-size: 15px;">@copyright smiteshop.com</div>
            </div>
        </div>
    </div>

    
</body>
</html>
