<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smit-E-Shop</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="http://fonts.cdnfonts.com/css/forum" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        .font{
            font-family: 'Forum', sans-serif;                                         
        }
    </style>
    <script>
        var myCarousel = document.querySelector('#myCarousel')
var carousel = new bootstrap.Carousel(myCarousel, {
  interval: 2000,
  wrap: false
})
    </script>

</head>
<body>
    <nav class="navbar">
        <div class="navbar-container container">
          <input type="checkbox" name="" id="" />
          <div class="hamburger-lines">
            <span class="line line1"></span>
            <span class="line line2"></span>
            <span class="line line3"></span>
          </div>
          <ul class="menu-items">
            <li><a href="/">Home</a></li>
            <li><a href="showShop">Shops</a></li>
            <li><a href="about">About</a></li>
            <button><a href="#">Contact</a></button>
          </ul>
          <h1 class="logo">SMIT-E-SHOP</h1>
        </div>
    </nav>



    <div class="container">
        <div class="row bg-black">
            
            <div class="col-md-12 font display-4 mt-5">
                <p>SMIT-E-SHOP</p>
            </div>
           <div class="col-md-6">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. A, quaerat quia excepturi. Perspiciatis, qui. Fuga, impedit! Ut officiis sint nam laboriosam, fugiat maiores, sit eos adipisci illo voluptatem asperiores quo libero?</p>
            <hr>
           </div>
           <h3 class="text-primary">Login to add your shop and advertise products!</h3>
        </div>
        <div class="col-md-4 mt-4">
            <a href="login"><button class="btn-dark shadow" style="background-color: rgba(0, 136, 169, 1);">Login or SignUp</button></a>
            
           </div>
       
    </div>


    <!-- Services section -->
    <div class="container-fluid mt-5 p-5 bg-dark text-light">
        <h1 class="text-center bg=dark" style="color: rgba(0, 136, 169, 1);  ">Our Services <hr></h1>
        <div class="row justify-content-center text-center p-4">
            
         <div class="col-md-4 p-3">
            <h2 class="mb-3">Rent</h2>
            <p class="mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. A officiis voluptatibus facilis rem qui. Quam consequuntur ullam corrupti? Nesciunt, odio?
            </p>
            <img src="images/rent.png" alt="" style="height: 100px; width: 100px;"> <br> <br>
            <a href="showShop"> <button class="btn btn-primary shadow"> Explore</button></a>
         </div>   
         <div class="col-md-4 p-3">
            <h2 class="text-center mb-3">Order</h2>
            <p class="mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. A officiis voluptatibus facilis rem qui. Quam consequuntur ullam corrupti? Nesciunt, odio?</p>
            <img src="images/order.png" alt="" style="height: 100px; width: 100px;"> <br> <br>
            <a href="showShop"> <button class="btn btn-primary shadow"> Explore</button></a>
         </div>   
         <div class="col-md-4 p-3">
            <h2 class="text-center mb-3">Rate</h2>
            <p class="mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. A officiis voluptatibus facilis rem qui. Quam consequuntur ullam corrupti? Nesciunt, odio?</p>
            <img src="images/review.png" alt="" style="height: 100px; width: 100px;"> <br> <br>
            <a href="showShop"> <button class="btn btn-primary shadow"> Explore</button></a>
         </div>   
            
        </div>
    </div>


    <!-- Footer section -->
    <div id="footer-sidebar text-dark bg-light p-5">
        <div class="container p-5">
            <div class="row justify-content-evenly">
                <div class="col-sm-4 col-md-10 p-5">
                    <div class="footer-widget">
                        <h4 class="text-primary text-center p-3">About This Approach</h4>
                        <p class="text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere, quas? Doloribus obcaecati minus animi enim modi vel, possimus nemo delectus id veniam aperiam! Possimus quisquam dolore quibusdam aperiam tempora minima, quam reiciendis dignissimos exercitationem rerum? Doloribus odit obcaecati rem corrupti.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div id="footer" class=" bg-dark text-light p-3">
        <div class="container">
            <div class="row">
                <div class="col-md-6" style="font-size: 15px;">@copyright smiteshop.com</div>
            </div>
        </div>
    </div>
</body>
</html>